<<<<<<< HEAD
<div class="body">
  <div class="breadcrumbs" >
    <%= render_breadcrumbs separator: ' > ' %>
  </div>

  <% if current_user.id == @user.id  %>
  	<h1 class="h1-text">マイページ</h1>
  <% else %>
  	<% if current_user.admin? %>
		  <h1 class="h1-text"><%= @user.username %>さんの情報</h1>
	  <% end %>
  <% end %>

  <div class="index_section">
    <% if current_user.admin? || current_user.id == @user.id %>
	    <div class="section-container">
		    <table class="user_table">
  	  	  <thead>
  			    <tr>
	  	  	    <th width="30%">ユーザーネーム</th>
	  	  	    <th width="40%">メールアドレス</th>
	  	  	    <th width="30%">アカウント作成日</th>
			      </tr>
  	  	  </thead>
  	  	  <tbody>
			      <tr>
	  	  	    <td align="center"><%= @user.username %></td>
	  	  	    <td align="center"><%= @user.email %></td>
	  	  	    <td align="center"><%= @user.created_at.strftime("%Y/%m/%d") %></td>
			      </tr>
  	  	  </tbody>
		    </table>
        <% if user_signed_in? %>
          <% if current_user.id == @user.id %>
            <div class="navigate clearfix">
              <div class="right">
                <%= link_to "ユーザー情報編集", edit_user_registration_path %>
              </div>
            </div>
          <% end %>
        <% end %>
  	  </div>
    <% end %>

    <div class="line"></div>
  
    <div class="section-container">
      <% if current_user.id == @user.id %>
	      <h3 class="h3-text">あなたが出品した作品<small>(<%= @posts.count %>件)</small></h3>
      <% else %>
	      <h3 class="h3-text"><%= @user.username %>さんが出品した商品<small>(<%= @posts.count %>件)</small></h3>
      <% end %>

      <div class="index_section_posts clearfix">
        <% @posts.reverse_each do |post| %>
          <div class="left index_post_box">
            <% if post.post_images.present? %>
              <div class="post_image">
                <% post.post_images.each do |image| %>
                  <%= attachment_image_tag image, :image, :fill, 150, 150 %>
                <% end %>
              </div>
            <% else %>
              <div class="post_image">
                <%= image_tag 'l_e_others_501.png', size: '150x150' %>
              </div>
            <% end %>
            <div class="clearfix post_text">
              <div class="left post_title">
                <%= link_to post.title, post_path(post) %>
              </div>
              <div class="right post_price" >
                <%= number_to_currency(post.price, :precision => 0, :unit => '¥') %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
=======
<h1>出品した商品</h1>

<div>
	<%= @user.posts.count %>件の商品
</div>

<div>
	<% @user.posts.reverse_each do |post| %>
		<div>
	    	<% if post.image? %>
        	  <td><%= post_tag post.image.url %></td>
        	<% else %>
        	  <td>No Image</td>
        	<% end %>
    	</div>
		<p><%= link_to post.title, post_path(post) %></p>
	<% end %>
>>>>>>> e5de3266dfaed05c7acf7cc7be1b9c78a201aaa4
</div>