<div class="body">


  <h1 class="h1-text">パスワードを忘れた場合</h1>

  <div class="section">
    <div class="form">
	  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	    <p><%= devise_error_messages! %></p>

	    <div class="field">
    	  <%= f.label "メールアドレス" %>
    	  <%= f.email_field :email, :size=>"65x1", autofocus: true %>
  	    </div>

	    <div class="actions button">
    	  <%= f.submit "メールを送信する" %>
  	    </div>
	  <% end %>
	</div>
	<div class="navigate clearfix">
	  <div class="right">
	    <%= render "devise/shared/links" %>
	  </div>
	</div>
  </div>
</div>

