<%= form_with(model: order, url: post_orders_path, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %>件のエラーが出ています。</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'お名前' %>
    <%= form.text_field :ordername, :size=>"65x1", id: :order_ordername %>
  </div>

  <div class="field">
    <%= form.label '電話番号' %>
    <%= form.telephone_field :orderphone, :size=>"65x1", id: :order_orderphone %>
  </div>

  <div class="field">
    <%= form.label 'メールアドレス' %>
    <%= form.text_field :orderemail, :size=>"65x1", id: :order_orderemail %>
  </div>

  <div class="field">
    <%= form.label 'ご住所' %>
    <%= form.text_field :orderaddress, :size=>"65x1", id: :order_orderaddress %>
  </div>

  <div class="actions button">
    <%= form.submit '注文する' %>
  </div>
<% end %>
