<!DOCTYPE html>
<html>
  <head>
    <title>Task5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<header>
		<% if user_signed_in? %>
      		Logged in as <%= current_user.username %>
      		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %> |
          <%= link_to "トップページ", posts_path %> |
          <%= link_to "マイページ", user_path(current_user) %> |
          <%= link_to '出品する', new_post_path %> |
          <%= link_to "新規ユーザー登録", new_user_registration_path %> |

    	<% else %>
      		<%= link_to "ログイン", new_user_session_path %> |
          <%= link_to "トップページ", posts_path %>
    <% end %>
  </header>

    <%= yield %>
  </body>
</html>
